/* $Id: local-sample.css,v 1.2 2010/09/17 21:36:06 eternalistic Exp $ */

/****************************/
/* LOCAL CSS                */
/****************************/

/* Put your custom CSS and CSS overrides in this file and  */
/* rename it local.css.  By restricting your CSS changes   */
/* to local.css, your changes will not be overwritten when */
/* upgrading to a new version of this theme.  You can also */
/* use a local-rtl.css file for the equivalent in RTL.     */

/* Steps to activate local.css:                       */
/* 1. Add your custom CSS to this file                */
/* 2. Rename this file to local.css                   */
/* 3. Clear cached data at admin/settings/performance */

html {
  background: #eeecec;
}
div#header-group-wrapper.header-group-wrapper {
  background: #fff url(../images/header-tile.png) repeat-x;
  margin: 0px;
  min-height: 88px;
}

div.header-group-inner {
  padding: 0;
}

div#header-group-inner.header-group-inner {
  margin: 0;
  padding-top: 10px;
}

div#main-wrapper {
  background: #fff;
  padding-top: 6px;
  padding-bottom: 6px;
}

/*div#main-wrapper.main-wrapper div#main.main {
  box-shadow: 0 0 10px rgba(76, 76, 76, 0.7);
}*/

div#header-primary-menu-wrapper.header-primary-menu-wrapper {
  border-bottom: none;
}

.breadcrumbs .inner {
    background: #fff;
    border-color: none;
    border-width: 0;
    color: #8e8e8e;
}

div.home-logo {
  padding-top: 30px;
  text-align: center;
}

div.home-intro {
    font-size: 1.25em;
    padding: 50px 0 10px;
    text-align: center;
    text-transform: uppercase;
}

div.home-date {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0 0 30px;
    text-align: center;
    text-transform: uppercase;
}

div#footer-message-wrapper.footer-message-wrapper {
  background: #EEECEC;
}

div#footer-wrapper.footer-wrapper {
  background: -moz-linear-gradient(-90deg, #8C909B, #EEECEC) repeat scroll 0 0 #8C909B;
  border: none;
}

div#block-webform-client-block-1151.block div.inner h2.title {
  color: #fff;
  font-size: 125%;
}

div#block-webform-client-block-1151.block div.inner div.content div#node-1151.node div.inner div.content h3 {
  color: #fff;
  font-size: 115%;
}

div#webform-component-beta-invite-email.webform-component div#edit-submitted-beta-invite-email-wrapper.form-item label {
  color: #000;
}

div#block-webform-client-block-1151.block div.inner div.content div#node-1151.node {
  color: #fff;
}



